In [2]:
import pandas as pd

In [2]:
base = pd.read_csv('../NADI-2020_release_1.0/NADI_release/unlabeled_10M.tsv',sep='\t')

In [3]:
collected1 = pd.read_csv('../tsv/labeled_10M-part1.tsv',sep='\t')

In [4]:
collected1

               #1 tweet_ID                                   #2 tweet_content
0               1041788841  من الذى سيحدد قيمة الأصول التى ستتحول ملكيتها ...
1               2276732618     هنا طلع عالم اخر مليء باشياء حلوه معكم على طول
2               2419368434  السعودية تعاني من أزمة هوية وأزمة إنجاز , " وك...
3               2440569453  أصبح سقوط المملكة قاب قوسين قصيدة نبطية رائعة ...
4               2504036777  واستبد الامراء والاميرات على الشعب . وعاثت اسر...
...                    ...                                                ...
441095  574686336491257856  فيه ناس الكذب عندهم مثل الاخبار مافيه حلقة اخي...
441096  574686631543848960  RT @MmaQarat: فقط من لا يفعلون شيئاً لا يرتكبو...
441097  574687339278135296  فيديو : رصاصة اسفلت تُصرع مواطناً دهساً ! ـ ht...
441098  574687429396824064  . عظمة عقلك تخلق لك {الحساد} ... وعظمة قلبك تخ...
441099  574687474531725312  RT @ahmedalfutaisi: نستقبل غداً بمطار مسقط الط...

[441100 rows x 2 columns]

In [9]:
new_unlabelled = base[441100:]

In [11]:
new_unlabelled.to_csv('../tsv/new_unlabelled.tsv',sep='\t',index=False)

In [12]:
i = 0
id_arrays = []
while(i<len(new_unlabelled)):
    id_arrays.append(new_unlabelled['#1 tweet_ID'][i:i+100000])
    i = i+100000

In [14]:
for fno in range(len(id_arrays)):
    df = pd.DataFrame(data={"#1 tweet_ID":id_arrays[fno]})
    df.to_csv('../tsv/segmented/unlabeled/unlabeled-seg-'+str(fno)+'.tsv',sep='\t',index=False)

In [15]:
#concat

In [3]:
part1 = pd.read_csv('../tsv/gold/labeled_10M-part1.tsv',sep='\t')

In [4]:
import os
con_df = part1
for tsv in os.listdir('../tsv/segmented/labeled/'):
    df = pd.read_csv('../tsv/segmented/labeled/'+tsv,sep='\t')
    con_df = pd.concat([con_df, df])

In [6]:
len(con_df)

10000000

In [7]:
con_df.to_csv('../tsv/10m_collected.tsv',sep='\t')

In [38]:
out_ids = []
for i in list(base['#1 tweet_ID']):
    if i not in list(con_df['#1 tweet_ID']):
        out_ids.append(i)

KeyboardInterrupt:

In [42]:
df = pd.read_csv('../tsv/segmented/labeled/labeled-seg-90.tsv',sep='\t')

In [44]:
df

              #1 tweet_ID                                   #2 tweet_content
0      462285949716934656  @jamaleldeen1 ما استسلموا الا لانهم ما استطاعو...
1      462288196328767488  RT @liliandaoud: لكل كاتب/بة شباب حلمهم ان مصر...
2      462289570034642944  RT @F_grooup: للمـتواجدين الان لـزيادة عــدد م...
3      462290521873190912  RT @wwww___w1: 🌴اربح نخلة في الجنة🌴 قل 💕سبحان ...
4      462291141757784064  #الشعب_السعودي_الشقيق  انت أغلا الناس وكل يوم ...
...                   ...                                                ...
99995  535291806947487744  اللهم أكفنا شر حاسدٍ إذا حسد http://t.co/rHMdp...
99996  535294097268166656  RT @ElGeeka: يعنى ايه مهندس يعنى يوم اجازتك تا...
99997  535295215578267648                                      <UNAVAILABLE>
99998  535297006508703745  (لا يسأم الإنسان من دعاء الخير وإن مسه الشر في...
99999  535300081226760192  المؤمن ضعيف بنفسه قوي بإخوانه  فيارب نسألك صحب...

[100000 rows x 2 columns]

In [45]:
base[base['#1 tweet_ID'] == 535300081226760192]

                #1 tweet_ID
9541099  535300081226760192

In [46]:
len(con_df)

9541100

In [49]:
last_batch = base[9541100:]

In [50]:
len(last_batch)

458900

In [51]:
458900/100000

4.589

In [3]:
import pandas as pd
res = pd.read_csv('../tsv/10m_collected.tsv',sep='\t')

In [6]:
res = res.drop(columns=['Unnamed: 0'])

In [7]:
res

                #1 tweet_ID                                   #2 tweet_content
0                1041788841  من الذى سيحدد قيمة الأصول التى ستتحول ملكيتها ...
1                2276732618     هنا طلع عالم اخر مليء باشياء حلوه معكم على طول
2                2419368434  السعودية تعاني من أزمة هوية وأزمة إنجاز , " وك...
3                2440569453  أصبح سقوط المملكة قاب قوسين قصيدة نبطية رائعة ...
4                2504036777  واستبد الامراء والاميرات على الشعب . وعاثت اسر...
...                     ...                                                ...
9999995  942404301854527488  RT @Esamcartoon: I just saw كاريكاتير اليوم … ...
9999996  942404481035243520  (رب السماوات والأرض وما بينهما فاعبده واصطبر ل...
9999997  942405092199804928  @Ali__ALKANDERI عالبركه علي🌹. عقبال ما نشوفك ب...
9999998  942405262312464384  RT @mzagy1122: اللهم إني أعوذ بك من الهم والحز...
9999999  942405345049284608  RT @yoyoahmed155: @Aya_elbeak @SasaNomair1 ايو...

[10000000 rows x 2 columns]

In [8]:
res.to_csv('../tsv/10m_collected.tsv',sep='\t',index=False)